@import "src/styles.scss";

.chip {
  color: $font-color-primary;
  padding: 5px 10px;
  border-radius: 15px;
  font-size: 0.9em;
  transition: all 0.3s ease;
  display: flex;
  align-items: center;
}

.skill-name {
  display: table;
  vertical-align: middle;
  margin-top: 2px;
}

.icon {
  margin-right: 5px;
  width: 1.25rem;
  height: 1.25rem;
  color: $font-color-primary;
}

.chip:hover {
  transform: translateY(-2px);
}
