@import "src/styles.scss";

.settings-button {
  color: $font-color-primary;
  text-decoration: none;
  display: flex;
  align-items: center;

  &:hover {
    color: $accent;
  }
}

.opaque-menu-item {
  margin-top: -1rem;
  background-color: white;

  &:hover {
    background-color: $background-color;
  }
}

@media screen and (max-width: 1200px) {
  .settings-button {
    border: solid 1px $accent;
  }
}
