<div class="settings-menu mobile">
  <button
    mat-icon-button
    [matMenuTriggerFor]="settings"
    class="settings-button"
  >
    <mat-icon>settings</mat-icon>
  </button>
  <mat-menu #settings="matMenu" class="opaque-menu">
    <button
      mat-menu-item
      [matMenuTriggerFor]="languages"
      class="opaque-menu-item"
    >
      <mat-icon>language</mat-icon>
      {{ "settings.language.label" | translate }}
    </button>
    <button mat-menu-item (click)="downloadPdf()" class="opaque-menu-item">
      <mat-icon>download</mat-icon>
      <span>{{ "settings.download-pdf" | translate }}</span>
    </button>
  </mat-menu>

  <mat-menu #languages="matMenu" class="opaque-menu">
    <button
      mat-menu-item
      (click)="toggleLanguage('fr')"
      class="opaque-menu-item"
    >
      <mat-icon svgIcon="french" aria-hidden="true" />
      <span>{{ "settings.language.fr.name" | translate }}</span>
    </button>
    <button
      mat-menu-item
      (click)="toggleLanguage('en')"
      class="opaque-menu-item"
    >
      <mat-icon svgIcon="uk" aria-hidden="true" />
      <span> {{ "settings.language.en.name" | translate }}</span>
    </button>
  </mat-menu>
</div>

<div class="settings-menu desktop">
  <button
    mat-icon-button
    [matMenuTriggerFor]="languages"
    class="settings-button"
  >
    <mat-icon>translate</mat-icon>
  </button>
  <mat-menu #languages="matMenu" class="opaque-menu">
    <button
      mat-menu-item
      (click)="toggleLanguage('fr')"
      class="opaque-menu-item"
    >
      <mat-icon svgIcon="french" aria-hidden="true" />
      <span>{{ "settings.language.fr.name" | translate }}</span>
    </button>
    <button
      mat-menu-item
      (click)="toggleLanguage('en')"
      class="opaque-menu-item"
    >
      <mat-icon svgIcon="uk" aria-hidden="true" />
      <span> {{ "settings.language.en.name" | translate }}</span>
    </button>
  </mat-menu>

  <button (click)="downloadPdf()" class="settings-button">
    <mat-icon>download</mat-icon>
  </button>
</div>
