<div class="languages">
  <h3 *ngIf="isHeadless">{{ "languages" | translate }}</h3>

  <div class="language-item" *ngFor="let language of languagesList">
    <span class="language-name">
      <mat-icon
        [svgIcon]="language.icon"
        aria-hidden="true"
        (click)="toggleLanguage(language.icon)"
      ></mat-icon>
      &nbsp; &nbsp; {{ language.name[lang] }}</span
    >
    <div class="language-level">
      <div
        class="language-progress"
        [ngStyle]="{ width: language.level }"
      ></div>
    </div>
  </div>
</div>
