<div class="contacts">
  <h3>{{ "contacts" | translate }}</h3>
  <a
    href="https://www.linkedin.com/in/delphine-richard1"
    class="linkedin-logo"
    target="_blank"
    rel="noopener"
  >
    <mat-icon
      svgIcon="linkedin"
      aria-hidden="true"
      aria-label="LinkedIn icon"
    ></mat-icon>
    <p>linkedin.com/in/delphine-richard1</p>
  </a>
  <a
    href="https://www.github.com/delphinerichard"
    class="github-logo"
    target="_blank"
    rel="noopener"
  >
    <mat-icon
      svgIcon="github"
      aria-hidden="true"
      aria-label="GitHub icon"
    ></mat-icon>
    <p>github.com/delphinerichard</p>
  </a>
  <a
    href="mailto:richard.delphine@protonmail.com"
    class="mail-logo"
    target="_blank"
    rel="noopener"
  >
    <mat-icon
      svgIcon="email"
      aria-hidden="true"
      aria-label="Email icon"
    ></mat-icon>
    <p>richard.delphine@protonmail.com</p>
  </a>

  <a
    href="https://delphinerichard.github.io"
    class="github-logo"
    target="_blank"
    rel="noopener"
  >
    <mat-icon svgIcon="website"></mat-icon>
    <p>delphinerichard.github.io</p>
  </a>
</div>
