<div class="toolbar">
    
  <h2>Delphine RICHARD</h2>

  <div class="spacer"></div>

  <h1 class="main-title">Ingénieure Fullstack</h1>

  <div class="spacer"></div>

  <a href="https://www.linkedin.com/in/delphine-richard1" class="linkedin-logo" target="_blank" rel="noopener">
    <mat-icon svgIcon="linkedin" aria-hidden="false" aria-label="LinkedIn icon"></mat-icon>
  </a>
  <a href="https://www.github.com/delphinerichard" class="github-logo" target="_blank" rel="noopener">
    <mat-icon svgIcon="github" aria-hidden="false" aria-label="GitHub icon"></mat-icon>
  </a>
  <a href="mailto:richard.delphine@proton.me" class="mail-logo" target="_blank" rel="noopener">
    <mat-icon svgIcon="email" aria-hidden="false" aria-label="Email icon"></mat-icon>
  </a>
</div>
    