@import "../../styles.scss";

a {
  color: $font-color-primary;
  text-decoration: none;
  display: flex;
  align-items: center;
  margin-bottom: 10px;
  transition: all 0.4s ease;

  &:hover {
    transform: translateY(-5px);
    transition: transform 0.2s ease;
    color: $accent;
  }
}

.icon-text {
  display: none;
}

mat-icon {
  margin-right: 5px;
}

.contacts {
  display: flex;
  gap: 20px;
  justify-content: center;
}
