@import "../../styles.scss";

a {
  color: $font-color-primary;
  text-decoration: none;
  display: flex;
  align-items: center;
  transition: all 0.4s ease;

  &:hover {
    transform: translateY(-5px);
    transition: transform 0.2s ease;
    color: $accent;
  }
}

.icon-text {
  display: none;
}

mat-icon {
  margin-right: 5px;
}

.contacts {
  display: flex;
  gap: 20px;
  justify-content: center;
}

// Mobile design
@media (min-width: 1200px) {
  .contacts {
    margin-top: 1rem;
    margin-bottom: 1rem;
  }
}
