@import "../../styles.scss";

.mobile-header-container {
  max-width: 90%;
  margin: 20px;
}

.avatar {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  object-fit: cover;
  border: 5px solid $accent;
}

.header {
  align-items: center;
  display: flex;
  gap: 2rem;
}

.name {
  margin: 0;
  color: $accent;
  font-weight: bold;
  display: block;
}

.job-title {
  margin: 0;
  position: relative;
}

.location {
  display: inline-flex;
}

.location-icon {
  margin-right: 5px;
  color: $accent;
}

.other-infos {
  display: flex;
  gap: 1rem;
  margin-top: 2rem;
  align-items: center;
  justify-content: space-between;
  width: 95%;
}
