<div class="mobile-header-container">
  <div class="header">
    <img src="assets/photo/delphine.jpeg" alt="photo" class="avatar" />
    <div>
      <h2 class="name">Delphine RICHARD</h2>
      <h2 class="job-title">Ingénieure Fullstack</h2>
    </div>
  </div>
  <div class="other-infos">
    <div class="location">
      <mat-icon class="location-icon" aria-hidden="true">location_on</mat-icon>
      Rennes (35)
    </div>

    <app-contact></app-contact>
  </div>
  <app-language></app-language>
</div>
