@import "src/styles.scss";

.avatar {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  object-fit: cover;
  margin-bottom: 20px;
  border: 5px solid $accent;
}

.header {
  text-align: center;
  height: 85%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.header-headless {
  text-align: center;
  height: 96%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.name {
  color: $accent;
  margin-block-start: 0.5em;
  margin-block-end: 0.5em;
  font-weight: bold;
  display: block;
}

.job-title {
  position: relative;
}

.location {
  display: inline-flex;
  margin-bottom: 1rem;
  font-family: "Poppins", sans-serif;
  font-size: 14px;
}

.location-icon {
  margin-right: 5px;
  color: $accent;
}

.website-description {
  margin-bottom: 6rem;
  font-size: 12px;
  line-height: 12px;
  font-style: italic;

  a {
    color: $accent;
  }
}
