<!-- Header -->
<app-toolbar></app-toolbar>

<div class="content" role="main">
  
  <app-banner></app-banner>

  <div class="main-content">
    <h1>Bienvenue</h1>
    
    <p>Vous êtes sur la page d'un CV en cours de développement</p>
    
    <p>N'hésitez pas à revenir plus tard !</p>
  </div>

</div>
  
  <!-- Footer -->
  <footer>
    Pour en savoir plus : &nbsp;
    <a href="https://github.com/delphinerichard" target="_blank" rel="noopener"> Voir mon repo GitHub</a> 
  </footer>

<router-outlet></router-outlet>
