@import "../styles.scss";

:host {
  font-size: 14px;
  color: #333;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 8px 0;
}

p {
  margin: 0;
}

.spacer {
  flex: 1;
}
.small-column {
  position: fixed;
  width: 280px;
  padding: 20px;
  height: 100vh;
  overflow-y: auto;
}

.main-content {
  margin-left: 320px;
  padding: 20px;
  width: 70%;
  position: relative;
}

a,
a:visited,
a:hover {
  color: $accent;
  text-decoration: none;
}

a:hover {
  color: $accent;
}

footer {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  line-height: 20px;
  bottom: 0;
  left: 0;
  right: 0;
  height: 60px;
}

footer a {
  display: flex;
  align-items: center;
}
