<div class="content" role="main">
  <div class="small-column">
    <app-small-column
      [lang]="lang"
      [isHeadless]="isHeadless"
    ></app-small-column>
  </div>
  <div class="mobile-header">
    <app-mobile-header [lang]="lang"></app-mobile-header>
  </div>
  <div class="main-content">
    <app-settings *ngIf="!isHeadless" class="settings"></app-settings>
    <app-jobs [lang]="lang"></app-jobs>
    <app-formations [lang]="lang"></app-formations>
    <app-projects [lang]="lang"></app-projects>
    <app-other-stuff *ngIf="!isHeadless" [lang]="lang"></app-other-stuff>
  </div>
</div>
