@import "../styles.scss";

p {
  margin: 0;
}

.spacer {
  flex: 1;
}

.small-column {
  position: fixed;
  width: 280px;
  padding: 20px;
  height: 100vh;
  overflow-y: auto;
}

.main-content {
  margin-left: 320px;
  padding: 10px;
  width: 70%;
  position: relative;
}

a,
a:visited,
a:hover {
  color: $accent;
  text-decoration: none;
}

// Mobile design
@media (max-width: 1200px) {
  .small-column {
    display: none;
  }
  .main-content {
    margin-left: 0.5rem;
    margin-right: 0.5rem;
    width: 90%;
  }
}

// Computer design
@media (min-width: 1200px) {
  .mobile-header {
    display: none;
  }
}
