@import "../styles.scss";

p {
  margin: 0;
}

.spacer {
  flex: 1;
}
.small-column {
  position: fixed;
  width: 280px;
  padding: 20px;
  height: 100vh;
  overflow-y: auto;
}

.main-content {
  margin-left: 320px;
  padding: 10px;
  width: 70%;
  position: relative;
}

a,
a:visited,
a:hover {
  color: $accent;
  text-decoration: none;
}
