@import "../../styles.scss";

mat-card {
  padding: 20px;
  background-color: $background-color;
}

mat-card-title {
  color: $font-color-primary;
}

mat-grid-list {
  width: 100%;
}

:host {
  position: absolute;
  left: 20px;
  right: 20px;
}
