// Defining the first theme for the resume

/** Violet foncé et rose **/
// $primary: #4A2040;
// $font-color-primary: #FFFFFF;
// $font-color-accent: #FFFFFF;
// $accent: #E5446D; //rose
// $dark-grey: #706C61;
// $light-grey: #E0E2DB;

/** Vert clair et foncé **/
// $primary: #7DD181;
// $font-color-primary: #000000;
// $font-color-accent: #FFFFFF;
// $accent: #4B7F52; //vert foncé
// $light-grey: #C9FFE2;

/** Bleu foncé et orange**/
// $primary: #023047;
// $font-color-primary: #FFFFFF;
// $font-color-accent: #FFFFFF;
// $font-color-secondary: #000000;
// $accent: #FB8500; //orange
// $secondary-accent: #FFB703; //jaune
// $dark-grey: #706C61;
// $light-grey: #E0E2DB;
// $secondary: #219EBC;
// $tertiary: #8ECAE6;

$primary: #7dd181;
$background-color: #e3e2dd;
// $background-color: #ffffff;
$accent: #4b7f52; //vert foncé
$font-color-primary: #000000;
$font-color-secondary: #000000;
