@use "@angular/material" as mat;
@import "./light-theme.scss";

@include mat.core();
html,
body {
  height: 100%;
  margin: 0;
  font-family: $content-font;
  font-size: 14px;
  background-color: $background-color;
}

h1,
h2,
h3,
h4 {
  font-family: $title-font;
  font-weight: bold;
}

.section-title {
  font-size: 1.8em;
  color: $accent;
  margin-bottom: 15px;
  margin-top: 15px;
  display: flex;
  align-items: center;
  padding-left: 10px;
  font-family: $title-font;
}

.box {
  background-color: white;
  border-radius: 20px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  padding: 20px;
  overflow: hidden;
  transition: all 0.3s ease;
  margin-bottom: 10px;
  position: relative;
}

.grid-container {
  display: grid;
  grid-template-columns: 1fr;
  gap: 20px;
}

.mdc-snackbar {
  background-color: white;
}

.mat-mdc-snack-bar-actions {
  button {
    color: $font-color-primary;
    text-transform: uppercase;
  }
}

.mat-mdc-menu-content {
  padding: 0 !important;
  background-color: white;
}
