<div class="box header">
  <img src="assets/photo/line_icons.png" alt="photo" class="avatar" />
  <h1 class="name">Delphine RICHARD</h1>
  <h2 class="job-title">Ingénieure Fullstack</h2>
  <div class="location">
    <mat-icon class="location-icon" aria-hidden="true">location_on</mat-icon>
    Rennes (35)
  </div>

  <div class="contacts">
    <a
      href="https://www.linkedin.com/in/delphine-richard1"
      class="linkedin-logo"
      target="_blank"
      rel="noopener"
    >
      <mat-icon
        svgIcon="linkedin"
        aria-hidden="false"
        aria-label="LinkedIn icon"
      ></mat-icon>
      <span class="icon-text">LinkedIn</span>
    </a>
    <a
      href="https://www.github.com/delphinerichard"
      class="github-logo"
      target="_blank"
      rel="noopener"
    >
      <mat-icon
        svgIcon="github"
        aria-hidden="false"
        aria-label="GitHub icon"
      ></mat-icon>
      <span class="icon-text">GitHub</span>
    </a>
    <a
      href="mailto:richard.delphine@proton.me"
      class="mail-logo"
      target="_blank"
      rel="noopener"
    >
      <mat-icon
        svgIcon="email"
        aria-hidden="false"
        aria-label="Email icon"
      ></mat-icon>
      <span class="icon-text">richard.delphine@proton.me</span>
    </a>
  </div>
</div>
